* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  &:focus,
  &:active,
  &:target {
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    transition: all 0.35s ease-in-out;
    background-color: rgb(75, 75, 75);
    border-radius: 30px;
  }
}

input {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-box-shadow: 0 0 0 1000px rgba(163, 2, 2, 0) inset !important;
  }
}

a {
  color: inherit;
  text-decoration: none;
  display: grid;
}

body {
  min-height: 100vh;
  overflow-x: hidden;

  section {
    display: grid;
    min-height: 100vh;
    position: relative;
    place-items: center;
    border-top: solid 1px black;
  }

  #app {
    min-height: 100vh;
    overflow-x: hidden;
  }
}

p > span {
  font-weight: 700;
  margin: 0 0.1em;
  font-style: italic;
}
